{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
    ul {
    list-style-type: none;
    padding-left: 0;
    }

    li {
    list-style-type: none;
    }

    .catalog-grid-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }

    .catalog-grid-2 {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .main-goods__cell {
    width: 25%;
    }

    .goods-tile_inner {
            width: 252.8px;
            height: 508.72px;
            overflow: hidden;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    .goods-tile_inner img {
        width: 100%;
        height: auto;
        display: block;
    }

    /* Медіа-запити для адаптивного дизайну */
    @media (max-width: 600px) {
        .goods-tile_inner {
            width: 150px;
            height: 200px;
            }
        }

    .layout_with_sidebar {
        display: flex;
        flex-direction: row-reverse;
    }




    .content_type_main {
        border-left: 1px solid #e9e9e9;
        box-sizing: border-box;
        padding-left: 40px;
        padding-top: 40px;
        width: calc(100% - 300px);
    }

    .main-goods {
        margin-bottom: 64px;
    }

    .title {
        position: relative;
        height: 100%;
        padding: 16px;
    }

    .goods-tile_inner-index {
        width: 200px;
        height: 250.72px;
        overflow: hidden;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tile__picture-img {
        max-width: 300px;
        height: 125px;
        vertical-align: middle;
    }

    .tile__title {
        display: block;
        height: 40px;
        margin-bottom: calc(var(4px)* 2);
        overflow: hidden;
        font-size: 14px;
        color: #333;
    }

    .index-home {
        width: 100%;
        height: auto;
    }

    .locations {
        background: #fff;
        color: #000;
    }

    }
</style>
<body>
<nav>
    <div class="catalog-grid-2">
        <div class="layout_with_sidebar layout">
            <main class="content content_type_main">
                <section class="main-goods">
                    <h2>Рекомендації</h2>
                    <ul class="catalog-grid-1">
                    {% for i in data_db|slice:":4" %}
                    <li class="goods-tile main-goods__cell">
                        <div class="container goods-tile_inner-index img">
                            <div class="title">
                                <a class="image-with-text" href="{{ i.url_name }}" title="{{ i.name }}">
                                    <img  loading="lazy" src="{{ i.images }}" class="index-home tile__picture-img">
                                </a>
                                <a class="tile__title">{{ i.name }}</a>
                            </div>
                        </div>
                        <div class="goods-tile__price price--red"> {{ i.price }} </div>
                    </li>
                    {% endfor %}
                    </ul>
                </section>
            </main>
            <aside class="sidebar sidebar_type_main">
                <div class="menu-wrapper menu-wrapper_state_static ng-star-inserted" style="display: block;">
                    <ul class="locations menu-categories">
                        {% for i in data.data_index %}
                    <li class="menu-categories__item">
                        <a href="{% url i.url_name %}" class="local menu-categories__link"><img src="{% static i.images %}"  class="icon-home">{{ i.title }}</a>
                    </li>
                        {% endfor %}
                    </ul>
                </div>
            </aside>
        </div>
    </div>
 </nav>
</body>
{% endblock %}

