{% extends "base.html" %}
{% load static %}

{% block product_detail %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        /* Основні стилі для блоків з зображенням */
        ul {
            list-style-type: none;
            padding-left: 0;
        }

        li {
            list-style-type: none;
        }

        .goods-tile_inner {
            width: 252.8px;
            height: 430.72px;
            overflow: hidden;
            box-sizing: border-box;
        }
/* display: flex; justify-content: center; align-items: center; */
        .goods-tile_inner img {
            width: 100%;
            height: auto;
            display: block;
        }

        /* Медіа-запити для адаптивного дизайну */
        @media (max-width: 600px) {
            .goods-tile_inner {
                width: 150px;
                height: 200px;
            }
        }

        .locations {
            background: #fff;
            color: #000;
        }

        svg {
            vertical-align: middle;
            fill: #0073db;
        }

        input {
            background-color: #fff;
            box-sizing: border-box;
            padding-left: 12px;
            padding-right: 12px
        }

        input,input[_size_small] {
            height: 32px;
        }

        @media (min-width: 768px)
            input, textarea {
            font-size: 14px;
        }

        input,textarea {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-color: #fff;
            border: 1px solid #d2d2d2;
            border-radius: 8px;
            font-size: 16px;
            outline: none;
            transition: border .2s ease-in-out
        }

        *,:after,:before {
            box-sizing: border-box;
        }

        .label:before {
            position: absolute;
            left: 0;
            bottom: 4px;
            display: none;
            width: 100%;
            border-bottom: 1px dotted #d2d2d2;
            content: " ";
        }

        @media (min-width: 768px) {
            .label:before {
                display: block;
            }
        }

        .sub-list li:last-child {
            margin-bottom: 0;
        }

        section {
            display: block;
        }

        *, dl div1 span {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
        }

        .label1 {
            position: relative;
            display: inline-block;
            padding-right: 16px;
            background-color: #fff;
        }

        a1 {
            color: #3e77aa;
            cursor: pointer;
            text-decoration: none;
        }

        .breadcrumbs__item {
            position: relative;
            margin-top: 8px;
            margin-bottom: 8px;
        }
    </style>
</head>
<body style>
<div class="wrapper central-wrapper">
    <div style="central-wrapper">
        <div class="layout">
            <ul class="bread">
                <li class="breadcrumbs__item breadcrumbs__item--home">
                    <a class="breadcrumbs__link" title="Інтернет-магазин SmartHub" href="/">
                        <svg aria-hidden="true" class="breadcrumbs__icon-home">
                            <use href="#icon-home"></use>
                        </svg>
                        <span class="breadcrumbs__item--home--title">На головну</span>
                    </a>
                    <span class="breadcrumbs__separator">/</span>
                </li>
                <li class="breadcrumbs__item breadcrumbs__item--last">
                    <a class="breadcrumbs__link" href="/">
                        <span>Ноутбуки та комп'ютери</span>
                        <span class="breadcrumbs__separator">/</span>
                    </a>
                    <span class="breadcrumbs__separator">/</span>
                </li>
                <li class="breadcrumbs__item breadcrumbs__item--text">
                    <svg aria-hidden="true" class="breadcrumbs__icon-chevron breadcrumbs__icon-chevron--text">
                        <use href="#icon-chevron-down"></use>
                    </svg>
                    <span class="breadcrumbs__separator-last">/</span>
                    <a class="breadcrumbs__link" href="/">
                        <span>Ноутбуки</span>
                    </a>
                </li>
                <li class="breadcrumbs__item breadcrumbs__item--text">
                    <svg aria-hidden="true" class="breadcrumbs__icon-chevron breadcrumbs__icon-chevron--text">
                        <use href="#icon-chevron-down"></use>
                    </svg>
                    <span class="breadcrumbs__separator-last">/</span>
                    <a class="breadcrumbs__link" href="/">
                        <span>Ноутбуки {{ product.noteb_id.name }}</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="product-navbar" style="top: 72px; --topPosition: 72px;">
            <div class="product-navbar__tabs--margin-small">
                <div class="tabs">
                    <div class="layout">
                        <ul class="tabs__list">
                            <li class="tabs__item">
                                <a class="tabs__link tabs__link--active" href="">Усе про товар</a>
                            </li>
                            <li class="tabs__item">
                                <a class="tabs__link" href="{% url 'characteristics' laptop_id=product.id %}">Характеристики</a>
                            </li>
                            <li class="tabs__item">
                                <a class="tabs__link" href="{% url 'reviews' comments_id=product.id %}">Відгуки</a>
                                <span class="tabs__link-text"> 1 </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <div id="#scrollArea" class="layout">
                    <div class="product-about">
                        <div class="product-about__left">
                            <div class="product-about__sticky" style="top: 113px; --topPosition: 113px;">
                                <app-slider class="main-slider" >
                                    <div class="simple-slider">
                                        <div class="simple-slider__holder carousel">
                                            <ul class="simple-slider__list" style="transform: translate3d( 480px, 0px, 0px); transition-duration: 0ms; gap: 0px;">
                                                {% for i in data_db %}
                                                    <li class="simple-slider__item" data-place="mock" style="width: 480px;">
                                                        <div class="main-slider__wrap main-slider__wrap2">
                                                            <div class="main-slider__item main-slider__wrap1">
                                                                <img class="picture-container__picture" alt="{{ models_laptop.name }} / {{ models_laptop.screen_size }} {{ models_laptop.screen_type }} {{ models_laptop.screen_resolution }} {{ models_laptop.screen_refresh_rate }} / {{ models_laptop.processor }} / RAM {{ models_laptop.ram_size }} / SSD {{ models_laptop.ssd_size }} / {{ models_laptop.gpu_manufacturer }} {{ models_laptop.gpu_memory }} " src="{{ i.image_path }}">
                                                            </div>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                            <button type="button" class="simple-slider__control simple-slider__control--prev">
                                                <svg simple-slider__control width="24" height="24" aria-hidden="true">
                                                    <use simple-slider__control href="#left-arrow"></use>
                                                </svg>
                                            </button>
                                            <button type="button" class="simple-slider__control simple-slider__control--next">
                                                <svg simple-slider__control width="24" height="24" aria-hidden="true">
                                                    <use simple-slider__control href="#right-arrow"></use>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </app-slider>
                                <app-slider class="main-slider preview-slider">
                                    <div  class="simple-slider">
                                        <div class="simple-slider__holder">
                                            <div style="display: block;">
                                                <div class="scrollbar__layout_1">
                                                    <div class="scrollbar__inner" style="height: calc(100% + 18px);">
                                                        <div class="scrollbar__content">
                                                            <ul class="simple-slider__list" style="gap: 0px;">
                                                                {% for i in data_db %}
                                                                <li class="simple-slider__item" style="width: 59.875px;">
                                                                    <button type="button" class="thumbnail-button thumbnail-button--active">
                                                                        <img class="thumbnail-button__picture" alt="{{ models_laptop.name }} / {{ models_laptop.screen_size }} {{ models_laptop.screen_type }} {{ models_laptop.screen_resolution }} {{ models_laptop.screen_refresh_rate }} / {{ models_laptop.processor }} / RAM {{ models_laptop.ram_size }} / SSD {{ models_laptop.ssd_size }} / {{ models_laptop.gpu_manufacturer }} {{ models_laptop.gpu_memory }}" src="{{ i.image_path }}">
                                                                    </button>
                                                                </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </app-slider>
                                <div class="mobile">
                                    <div class="wrap">
                                        <div class="inner">
                                            <div class="title" style="max-height: 90px; overflow: hidden;">
                                                <p class="h2-1 bold" style>
                                                    {% if models_laptop %}
                                                    {{ models_laptop.name }} {{ models_laptop.screen_size }} {{ models_laptop.screen_type }} {{ models_laptop.screen_resolution }} {{ models_laptop.screen_refresh_rate }} / {{ models_laptop.processor }} / RAM {{ models_laptop.ram_size }} / SSD {{ models_laptop.ssd_size }} / {{ models_laptop.gpu_manufacturer }} {{ models_laptop.gpu_memory }}
                                                    {% endif %}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="rating text-base">
                                            <div class="me-1 me" style="width: 85px;">
                                                <div class="stars__container">
                                                    <div class="stars__rating" style="width: calc(100% - 2px);">
                                                        <div class="stars__bg"></div>
                                                        <svg viewBox="0 0 66 14" class="stars__svg">
                                                            <use href="#icon-stars-rating-progress"></use>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href=""></a> #тимчасово неробоча силка на відгуки про товар!!!
                                        </div>
                                    </div>
                                </div>
                                <p class="mt-4" style="font-size: 14px;">
                                    {% if models_laptop %}
                                        Екран {{ models_laptop.screen_size }} {{ models_laptop.screen_type }} {{ models_laptop.screen_resolution }} {{ models_laptop.screen_refresh_rate }} / {{ models_laptop.processor }} / RAM {{ models_laptop.ram_size }} / SSD {{ models_laptop.ssd_size }} / {{ models_laptop.gpu_manufacturer }} {{ models_laptop.gpu_memory }} / {{ models_laptop.weight }} / {{ models_laptop.color }}
                                    {% endif %}
                                </p>
                                <div class="product-about__pictogram-list">
                                    <ul class="product-pictogram__list">
                                        {% for i in db %}
                                        <li class="product-pictogram__item">
                                            <img  loading="lazy" class="product-pictogram__icon" alt="AMD Ryzen 5" title="AMD Ryzen 5" src="{{ i.image_path }}">
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="product-about__right">
                            <div class="product-about__right-inner">
                                <div class="desktop">
                                    <div class="wrap">
                                        <div class="inner">
                                            <h1 class="h2-1 bold">
                                                {% if models_laptop %}
                                                    {{ models_laptop.name }} / {{ models_laptop.screen_size }} {{ models_laptop.screen_type }} {{ models_laptop.screen_resolution }} {{ models_laptop.screen_refresh_rate }} / {{ models_laptop.processor }} / RAM {{ models_laptop.ram_size }} / SSD {{ models_laptop.ssd_size }} / {{ models_laptop.gpu_manufacturer }} {{ models_laptop.gpu_memory }}
                                                {% endif %}
                                            </h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-6">
                                <h2 class="h2-1 mb-4">Основні характеристики</h2>
                                <section>
                                    <dl>
                                        <div1 class="item">
                                            <dt class="label">
                                                <span class="label1">Діагональ екрану</span>
                                            </dt>
                                            <dd class="value">
                                                <ul class="sub-list">
                                                    <li>
                                                        <p>{{ models_laptop.screen_size }}"</p>
                                                    </li>
                                                </ul>
                                            </dd>
                                        </div1>
                                        <div1 class="item">
                                            <dt class="label">
                                                <span class="label1">Частота оновлення екрану</span>
                                            </dt>
                                            <dd class="value">
                                                <ul class="sub-list">
                                                    <li>
                                                        <p>{{ models_laptop.screen_refresh_rate }}</p>
                                                    </li>
                                                </ul>
                                            </dd>
                                        </div1>
                                        <div1 class="item">
                                            <dt class="label">
                                                <span class="label1">Тип екрану</span>
                                            </dt>
                                            <dd class="value">
                                                <ul class="sub-list">
                                                    <li>
                                                        <p>{{ models_laptop.screen_type }}</p>
                                                    </li>
                                                </ul>
                                            </dd>
                                        </div1>
                                        <div1 class="item">
                                            <dt class="label">
                                                <span class="label1">Роздільна здатність</span>
                                            </dt>
                                            <dd class="value">
                                                <ul class="sub-list">
                                                    <li>
                                                        <p>{{ models_laptop.screen_resolution }}</p>
                                                    </li>
                                                </ul>
                                            </dd>
                                        </div1>
                                    </dl>
                                </section>
                                <a class="d-block text-xl mt-4" href="{% url 'characteristics' laptop_id=product.id %}"> Дивитися всі характеристики&nbsp;→ </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
    const prevButton = document.querySelector('.simple-slider__control--prev');
    const nextButton = document.querySelector('.simple-slider__control--next');
    const sliderList = document.querySelector('.simple-slider__list');
    let currentIndex = 0;

    prevButton.addEventListener('click', function () {
        currentIndex = (currentIndex > 0) ? currentIndex - 1 : sliderList.children.length - 1;
        sliderList.style.transform = `translate3d(-${currentIndex * 480}px, 0, 0)`;
    });

    nextButton.addEventListener('click', function () {
        currentIndex = (currentIndex < sliderList.children.length - 1) ? currentIndex + 1 : 0;
        sliderList.style.transform = `translate3d(-${currentIndex * 480}px, 0, 0)`;
    });
});

document.addEventListener("DOMContentLoaded", function () {
    const sliderList = document.querySelector(".simple-slider__list");
    if (sliderList) {
        sliderList.style.transform = "translate3d(0px, 0px, 0px)";
    }
});

</script>
</body>
<svg style="display: none;">
    <symbol id="left-arrow" width="24" height="24" viewBox="0 0 24 24" fill="none">
      <path d="M15 18L9 12L15 6" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </symbol>
    <symbol id="right-arrow" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M9 6L15 12L9 18" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </symbol>
</svg>
{% endblock %}